* {
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: auto;
    line-height: 1.3;
    background-color: red;
    background: linear-gradient(#F8B195, #F67280, #C06C84, #6C5B7B, #355C7D);
    align-content: center;
    justify-content: space-around;
    align-items: stretch;
  }
  
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    transition: .5s ease;
    color: #144d7fd7;
    background-color: #355b7d17;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    font-weight: bold;
    text-decoration: none;
    list-style-type: none;
  }

  nav a {
    transition: .2s ease;
  }

  nav a:nth-child(even) {
    color: #0044838c;
  }

  nav a:nth-child(odd) {
    color: #37008377;
  }
  
  nav a:hover {
    color: #fff;
  }
  
  h1 {
    font-size: 200%;
  }

  img .hero-container {
    width: 100%;
    height: 973px; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.303), rgba(0, 0, 0, 0.132));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    flex: content;
    object-fit: cover;
  }

  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 35px 70px;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  }

  .content {
      display: block;
  }

  aside {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2% 0;
    align-items: center;
  }

  section {
    display: flex;
    flex-direction: row;
  }

  #about-me {
    margin-left: 5%;
  }

  .avatar {
    vertical-align: middle;
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }

  #contact-me {
    margin-left: 5%;
  }

  #resume {
    margin-left: 5%;
    flex-direction: column;
    min-width: max-content;
    height: 150%;
  }

  section aside:nth-child(even):hover {
    background-color: #00337148;
    transition: .8s ease;
    transform: translateY(-8px);

  }

  section aside:nth-child(odd):hover {
    background-color: #ffffff5a;
    transition: .8s ease;
    transform: translateY(-8px);

  }
  
  h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-left: 5%;
  }

  article {
    display: flex;
    flex-direction: row;
    flex-wrap: auto;
    border-left: 3px solid #18456f;
    margin: 2% 0;
    padding: 45px 80px;
    align-items: center;
  }
  
  article p {
    font-size: 110%;
  }

  article img {
    max-height: 50%;
    width: 100%;
    height: 100%;
    flex-direction: column;
  }

  .work-container {
    position: relative;
    width: 55%;
    margin: 2%;
    margin-left: 5%;
    display: inline-flex;
    align-items: flex-start
  }


  .card-group-1 {
    background: rgba(255, 255, 255, 0);
    position: relative;
    cursor: pointer;
  }

  .card-group-1:hover {
    background: #18456fb2;
    position: relative;
    cursor: pointer;
    transition: .8s ease;
  }

  .card-group-2 {
    background: rgba(255, 255, 255, 0);
    position: relative;
    cursor: pointer;
  }

  .card-group-2:hover {
    background: #18456fb2;
    position: relative;
    cursor: pointer;
    transition: .8s ease;
  }

  .card-group-3 {
    background: rgba(255, 255, 255, 0);
    position: relative;
    cursor: pointer;
  }

  .card-group-3:hover {
    background: #18456fb2;
    position: relative;
    cursor: pointer;
    transition: .8s ease;
  }

  .card-group-4 {
    background: rgba(255, 255, 255, 0);
    position: relative;
    cursor: pointer;
  }

  .card-group-4:hover {
    background: #18456fb2;
    position: relative;
    cursor: pointer;
    transition: .8s ease;
  }

  .card-group-5 {
    background: rgba(255, 255, 255, 0);
    position: relative;
    cursor: pointer;
  }

  .card-group-5:hover {
    background: #18456fb2;
    position: relative;
    cursor: pointer;
    transition: .8s ease;
  }

  .card-group-6 {
    background: rgba(255, 255, 255, 0);
    position: relative;
    cursor: pointer;
  }

  .card-group-6:hover {
    background: #18456fb2;
    position: relative;
    cursor: pointer;
    transition: .8s ease;
  }

  .card-group-7 {
    background: rgba(255, 255, 255, 0);
    position: relative;
    cursor: pointer;
  }

  .card-group-7:hover {
    background: #18456fb2;
    position: relative;
    cursor: pointer;
    transition: .8s ease;
  }

  .card-group-8 {
    background: rgba(255, 255, 255, 0);
    position: relative;
    cursor: pointer;
  }

  .card-group-8:hover {
    background: #18456fb2;
    position: relative;
    cursor: pointer;
    transition: .8s ease;
  }

  .card-group-9 {
    background: rgba(255, 255, 255, 0);
    position: relative;
    cursor: pointer;
  }

  .card-group-9:hover {
    background: #18456fb2;
    position: relative;
    cursor: pointer;
    transition: .8s ease;
  }

  /* .img-textbox {
    background-color: #04a7aad0;
    color: white;
    position: center;
    font-size: 16px;
    padding: 16px 32px;
  } */
  
  article ul {
    margin-left: 5%;
    font-size: 110%;
    display: flex;
    justify-content: space-around;
    min-width: 300px;
    list-style-type: none;
    flex-direction: row;
  }
  
  article li {
    margin: 5px 0;
  }

  .resume img {
    max-width: 800px;
    flex: wrap;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  footer {
    display: flex;
    justify-content: center;
    padding: 2%;
    color: #fff;
    text-align: center
  }
  
  @media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
  
    main {
      max-width: 768px;
      flex-direction: column;
    }

    article ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;  
      max-width: 1381px;
      flex-direction: column;
    }

  }
  